$backgroundColor: #252A38;
$darkerBackground: #151820;
$defaultForeground: #DCDCDC;
$primaryColor: #2985FF;
$transparentOverlay: #252A3856;
$fontFamily: 'Segoe UI', sans-serif;
$fontWeightBold: 600;
$fontWeightLight: 300;