@use 'constants';

.page-container{
    display: grid;
    grid-auto-columns: 1fr;
    margin: 0 10px;
    h1 {
        text-align: center;
    }
}


.post-feed {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.post-container {
    max-width: 95vw;
    padding-bottom: 16px;
    background-color: constants.$darkerBackground;
    margin-bottom: 20px;
    img {
        width: 100%;
        height: auto;
    }
    p {
        margin: 0 0 0.5em;
        padding: 0 1em;
        
    }
    .user-name {
        font-weight: constants.$fontWeightBold;
    } 
}
